body {
    font-family: sans-serif;
}   


.list-title{
    width: 0;
    height: 40px;
    color: white;
    padding-left: 20px;
    border-left: 5px solid #ed274a;
    font-weight: bold;
    transition: .3s;
    text-shadow: -6px 0px 7px #ef1313, 0px -6px 7px #ef1313, 0px 6px 7px #ef1313, 6px 0px 7px #ef1313;
}
.hot-list{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00000059;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    .right-angle {
        z-index: 2;
        color: white;
        margin-left: 20px;
        font-size: 50px;
        width: 47px;
        text-align: center;
        height: 60px;
        line-height: 70px;
    }
    .right-angle:hover{
        color: #ed274a;
        background: rgba(0, 0, 0, 0.774);
    }
    .left-angle{
        z-index: 2;
        color: white;
        margin-right: 20px;
        font-size: 50px;
        width: 47px;
        text-align: center;
        height: 60px;
        line-height: 70px;
    }
    .left-angle:hover{
        color: #ed274a;
        background-color: rgba(0, 0, 0, 0.774);
    }
    .hot-list_item{
        margin: 10px;
        position: relative;
        width: 192px;
        height: 288px;
        .hot-list_item-image{
            position: absolute;
            width: 100%;
            transition: .2s;
            overflow: hidden;
            .playButton {
                padding-left: 5px;
                position: absolute;
                z-index: 2;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                color: #ffffff;
                border: 3px solid #ffffff;
                text-align: center;
                border-radius: 100px;
                width: 60px;
                height: 60px;
                font-size: 20px;
                line-height: 60px;
                transition: .6s;
                transform:  translate(-50%, -50%) scale(0,0);
            }
            a{
                img{
                    width: 100%;
                    height: 288px;
                    transition: .3s;
                }
                .hot-list_item-name{
                    z-index: 2;
                    width: 100%;
                    position: absolute;
                    bottom: 0%;
                    background-color: #000000b8;
                    color: #ffffff;
                    padding: 4px;
                    font-weight: bold;
                    font-size: 16px;
                    span {
                        color: #9c9c9c;
                        display: block;
                        margin-top: -17px;
                        font-size: 12px;
                    }
                    
                }
                
            }
        }
        .hot-list_item-image:hover img{
            transform: scale(1.2,1.2);
            opacity: 0.7;
        }
        .hot-list_item-image:hover .playButton{
            transform: translate(-50%, -50%) scale(1,1);
            
        }
    }
}
.ranking{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 3px;
}
#rank-1{
    width: 49px;
    height: 49px;
    line-height: 49px;
    background-color: rgb(119, 25, 25);

}
#rank-2{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(28, 26, 134);
}
#rank-3{
    width: 31px;
    height: 31px;
    line-height: 31px;
    background-color: rgb(23, 88, 37);
}
.new-movies_title{
    h3{
        border-left: 6px solid;
        color: yellow;
        margin-top: 40px;
        margin-bottom: -20px;
        padding-left: 15px;
        }
}
.new-movies-list{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #00000059;
    overflow: hidden;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    .new-movies-list_item{
        margin: 7px;
        position: relative;
        width: 192px;
        height: 288px;
        
        .new-movies-list_item-image{
            border-radius: 10px;
            position: absolute;
            width: 100%;
            transition: .2s;
            overflow: hidden;
            .playButton {
                position: absolute;
                z-index: 2;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                color: #ffffff;
                border: 3px solid #ffffff;
                text-align: center;
                border-radius: 100px;
                width: 60px;
                height: 60px;
                font-size: 20px;
                line-height: 60px;
                transition: .6s;
                transform:  translate(-50%, -50%) scale(0,0);
            }
            a{
                img{
                    width: 100%;
                    height: 288px;
                    transition: .3s;
                }
                .new-movies-list_item-name{
                    z-index: 2;
                    width: 100%;
                    position: absolute;
                    bottom: 0%;
                    background-color: #000000b8;
                    color: #ffffff;
                    padding: 4px;
                    font-weight: bold;
                    font-size: 16px;
                    span {
                        color: #9c9c9c;
                        display: block;
                        margin-top: -17px;
                        font-size: 12px;
                    }
                }
            }
        }
        .new-movies-list_item-image:hover img{
            transform: scale(1.2,1.2);
            opacity: 0.7;
        }
        .new-movies-list_item-image:hover .playButton{
            transform: translate(-50%, -50%) scale(1,1);
            
        }
    }
}

@media screen and (max-width: 600px){

    
    .list-title{
        margin-top: 54px;
        margin-bottom: -25px;
    }
    .new-movies-list {

        .new-movies-list_item {
            margin: 7px;
            position: relative;
            width: 157px;
            .new-movies-list_item-image{
                a{
                    img{
                        height: 265px;
                    }
                }
            }
        }
    }
    
    

}